<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
<table border="1" style="width:50%">
  <tr>
    <td style="padding: 10px;">Name</td>
    <td style="padding: 10px;"><%= @client.name %></td>
  </tr>
  <tr>
    <td style="padding: 10px;">Email</td>
    <td style="padding: 10px;"><%= @client.email %></td>
  </tr>
  <tr>
    <td style="padding: 10px;">Building/Address</td>
    <td style="padding: 10px;"><%= @client.building %></td>
  </tr>
  <tr>
    <td style="padding: 10px;">Unit</td>
    <td style="padding: 10px;"><%= @client.unit %></td>
  </tr>
  <tr>
    <td style="padding: 10px;">Phone</td>
    <td style="padding: 10px;"><%= @client.phone %></td>
  </tr>
  <tr>
    <td style="padding: 10px;">Wechat</td>
    <td style="padding: 10px;"><%= @client.wechat %></td>
  </tr>
  <tr>
    <td style="padding: 10px;">Amount</td>
    <td style="padding: 10px;"><%= @client.amount %></td>
  </tr>
  
</table></body></html>
